@model ToDoList.Domain.Entities.Light

<div class="form-horizontal">
    <form action="Edit" method="Post">

        <div class="form-group">
            <label>ID</label>
            <input class="form-control" type="text" name="id" value="@Model.id"/>
        </div>

         <div class="form-group">
            <label>Data Leitura</label>
            <input class="form-control" type="text" name="dataLeitura" value="@Model.dataLeitura"/>
        </div>

        <div class="form-group">
            <label>N. Leitura</label>
            <input class="form-control" type="text" name="numeroLeitura" value="@Model.numeroLeitura"/>
        </div>

        <div class="form-group">
            <label>Kw Gasto</label>
            <input class="form-control" type="text" name="kw" value="@Model.kw"/>
        </div>

        <div class="form-group">
            <label>Valor a Pagar</label>
            <input class="form-control" type="text" name="valor" value="@Model.valor"/>
        </div>

        <div class="form-group">
            <label>Data Pagamento</label>
            <input class="form-control" type="text" name="dataPagamento" value="@Model.dataPagamento"/>
        </div>

        <div class="form-group">
            <label>Média Consumo</label>
            <input class="form-control" type="text" name="media" value="@Model.media"/>
        </div>

        <input class="btn btn-primary" type="submit" value="Salvar"/>
        
    </form>
</div>